{{!-- {{yield}} --}}
<div>
  <label>{{title}}</label>
</div>
<input type="text" class="form-control"  id={{tid}} value={{value}}  name={{name}} {{action 'setFocus' tid on="focusOut"}} >
 {{!-- {{input type="text"class="form-control" placeholder="阈值"  id=tid  value=value   name=name input=(action "setThd") action "setThd" tid  on="focusOut" }} --}}