<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title" id = 'action_title'>数据库设置</h3>
          <button class="btn btn-info fr" {{action 'addView'}}>添加</button>
        </div>

        {{component 'common/error-danger' iserror=iserror}}
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th style="width: 10px">id</th>
                <th>数据库名称</th>
                <th>数据库ip地址</th>
                <th>数据库端口</th>
                <th>数据库类型</th>
                <th>数据库登录用户</th>
                <th>所属设备</th>
                <th>操作</th>
              </tr>
              <tr>
                <td colspan="8" style='text-align:center' >
                    {{#common-loading isLoading = list al='center'}}{{/common-loading}}
                </td>
              </tr>
              {{#each list as |db|}}
              <tr>
                <td>{{db.id}}</td>
                <td>{{db.db_zname}}</td>
                <td>{{db.db_ip}}</td>
                <td>{{db.db_port}}</td>
                <td>{{db.db_type}}</td>
                <td>{{db.db_user_name}}</td>
                <td>{{db.jz_zname}}</td>
                {{!-- <td>{{component 'getconfig/get-jzname' ids = db.jz_id getJz = getJzAction}}</td> --}}
                
                <td>
                  <button type="button" class="btn btn-info" {{action "chakan" db.id on="click" }}>查看</button>
                  <button type="button" class="btn btn-warning" {{action "editView" db.id on="click" }}>修改</button>
                  <button type="button" class="btn btn-danger" {{action "del" db.id on="click" }}>删除</button>
                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>
           {{#pages-component tab='configdb' setSome =(action 'setSome')}}{{/pages-component}} 
        </div>
        <!-- /.box-body -->
      
          {{!-- 添加 --}}
        
        <div class="box-body hidden mybox-body" id="add">
            <form class="form-horizontal" {{action "add" on="submit" }}>
              <div class="control-group">
                <label class="control-label" >数据库名称</label>
                <div class="controls">
                  {{input type="text"class="form-control" placeholder="数据库名称" value=db_zname}}
                </div><span class="text-danger">*</span>
              </div>
              <div class="control-group">
                <label class="control-label">数据库地址</label>
                <div class="controls">
                  {{input type="text"class="form-control" placeholder="数据库ip地址" value=db_ip}}
                </div><span class="text-danger">*</span>
              </div>
              <div class="control-group">
                <label class="control-label" >数据库端口</label>
                <div class="controls">
                  {{input type="text"  class="form-control" placeholder="数据库端口" value=db_port}}
                </div><span class="text-danger">*</span>
              </div>
               <div class="control-group">
                <label class="control-label" >数据存储类型</label>
                <div class="controls">
                 <select {{action  "bindDBType" on = "change"}} >
                        <option value="" selected>请选择</option>
                        <option>mysql</option>
                        <option>hive</option>
                        <option>sqlserver</option>
                        <option>oracle</option>
                        <option>mongodb</option>
                        <option>postgresql</option>
                        <option>redisqueue</option>
                  </select>
                  </div>
                {{!-- <div class="controls">
                  {{input type="text"  class="form-control" placeholder="数据库类型" value=db_type}}
                </div> --}}

                <span class="text-danger">*</span>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库用户</label>
                <div class="controls">
                  {{input type="text"  class="form-control" placeholder="数据库用户" value=db_user_name}}
                </div><span class="text-danger">*</span>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库密码</label>
                <div class="controls">
                  {{input type="password"  class="form-control" placeholder="数据库密码" value=db_user_pwd}}
                </div><span class="text-danger">*</span>
              </div>
                <div class="control-group">
                <label class="control-label" >设备选择</label>
                <div class="controls">
                      <select {{action "bindSelectJz" 'select_jz_ida'  on = "change"}} id="select_jz_ida">
                        <option value="" selected>请选择</option>
                        {{#each jzData as |jz|}}
                            <option value={{jz.id}} >{{jz.jz_zname}}</option>
                        {{/each}}
                      </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  <button type="submit" class="btn btn-info" contenteditable="true">提交</button>
                </div>
              </div>
            </form>
        </div>
     
         <div class="box-body hidden mybox-body" id="edit">
            <form class="form-horizontal" {{action "edit" on="submit" }}>
              <div class="control-group">
                <label class="control-label" id='id'></label>
              </div>
              <div class="control-group">
                <label class="control-label" >数据库名称</label>
                <div class="controls">
                  {{input type="text"class="form-control" placeholder="数据库名称" value=db_zname}}
                </div><span class="text-danger">*</span>
              </div>
              <div class="control-group">
                <label class="control-label">数据库ip地址</label>
                <div class="controls">
                  {{input type="text"class="form-control" placeholder="数据库ip地址" value=db_ip}}
                </div><span class="text-danger">*</span>
              </div>
              <div class="control-group">
                <label class="control-label" >数据库端口</label>
                <div class="controls">
                  {{input type="text"  class="form-control" placeholder="数据库端口" value=db_port}}
                </div><span class="text-danger">*</span>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库类型</label>
                  <div class="controls">
                 <select {{action  "bindDBType" on = "change"}} >
                        <option value="" selected>请选择</option>
                        <option>mysql</option>
                        <option>hive</option>
                        <option>sqlserver</option>
                        <option>oracle</option>
                        <option>mongodb</option>
                        <option>postgresql</option>
                        <option>redisqueue</option>
                  </select>
                  </div><span class="text-danger">*</span>
              </div>
                <div class="control-group">
                <label class="control-label" >数据库用户</label>
                <div class="controls">
                  {{input type="text"  class="form-control" placeholder="数据库用户" value=db_user_name}}
                </div><span class="text-danger">*</span>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库密码</label>
                <div class="controls">
                  {{input type="password"  class="form-control" placeholder="数据库密码" value=db_user_pwd}}
                </div><span class="text-danger">*</span>
              </div>
                <div class="control-group">
                <label class="control-label" >设备选择</label>
                <div class="controls">
                      <select {{action  "bindSelectJz" 'select_edit' on = "change"}} id="select_edit">
                        <option value="" selected>请选择</option>
                        {{#each jzData as |jz|}}
                            <option value={{jz.id}} >{{jz.jz_zname}}</option>
                        {{/each}}
                      </select>
                </div>
               </div>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  <button type="submit" class="btn btn-info" contenteditable="true">确认修改</button>
                </div>
              </div>
            </form>
          </div>
        
          <div class="box-body hidden " id="chakan">
              <div class="control-group">
                <label class="control-label"> id : {{id}}</label>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库名称 : {{db_zname}}</label>
              </div>
              <div class="control-group">
                <label class="control-label">数据库ip地址 : {{db_ip}}</label>
              </div>
              <div class="control-group">
                <label class="control-label" >数据库端口 : {{db_port}}</label>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库类型 : {{db_type}}</label>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库用户 : {{db_user_name}}</label>
              </div>
               <div class="control-group">
                <label class="control-label" >数据库密码 : ******</label>
              </div>
               <div class="control-group">
                <label class="control-label" >所属设备 : {{jz_zname}}</label>
              </div>
          </div>
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>