{{!-- {{yield}} --}}
<div><label>{{title}}</label></div>
{{!-- <input type="text" class="form-control" placeholder="周期" value='1' name='monit_periods'> --}}
<input type="text" class="form-control" placeholder="阈值" id={{tid}}   name={{name}} {{action 'setFocus' tid on="focusOut"}} >